@use '@/styles/variables' as variables;

.actFacadeContainer {
    display: flex;

    position: relative;

    width: 100%;
    height: 13rem;

    .actFacade {
        position: absolute;

        display: flex;
        width: 100%;
    }
}

.textContainer {
    display: flex;
    width: 75%;
    height: 100%;

    font-size: variables.$font-size-25;
    font-family: variables.$font-coolvetica-hv-comp;
    text-transform: uppercase;

    display: flex;
    align-items: end;
    justify-content: start;

    left: -1.5rem;
    position: relative;

    span {
        font-size: variables.$font-size-20;
        font-family: variables.$font-garamond-bold-italic;
        text-align: center;
    }

    @media screen and (max-width: 1440px) {
        font-size: variables.$font-size-25;

        span {
            font-size: variables.$font-size-20;
        }
    }

    @media screen and (max-width: 772px) {
        width: 100%;
        font-size: variables.$font-size-15;

        span {
            font-size: variables.$font-size-10;
        }
    }

    @media screen and (max-width: 622px) {
        font-size: calc(variables.$font-size-10 * 1.4);
        padding: 0 0.5rem;

        width: 100%;
        position: relative;
        z-index: 2;

        span {
            font-size: calc(variables.$font-size-7 * 1.6);
        }
    }

    @media screen and (max-width: 578px) {
        font-size: calc(variables.$font-size-10 * 1.3);
        padding: 0 0.5rem;

        width: 100%;
        position: relative;
        z-index: 2;

        span {
            font-size: calc(variables.$font-size-7 * 1.5);
        }
    }

    @media screen and (max-width: 506px) {
        font-size: variables.$font-size-10;
        padding: 0 0.5rem;

        width: 100%;
        position: relative;
        z-index: 2;

        span {
            font-size: calc(variables.$font-size-7 * 1.2);
        }
    }
}

.cloudContainer {
    width: 25%;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    .cloud {
        width: 60%;
        height: 60%;
    }

    @media screen and (max-width: 622px) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}