@font-face {
    font-family: 'Coolvetica Hv Comp';
    src: url('/static/fonts/coolvetica/Coolvetica Hv Comp.otf') format('opentype');
}

@font-face {
    font-family: 'Coolvetica Rg Cond';
    src: url('/static/fonts/coolvetica/Coolvetica Rg Cond.otf') format('opentype');
}

@font-face {
    font-family: 'Coolvetica Rg Cram';
    src: url('/static/fonts/coolvetica/Coolvetica Rg Cram.otf') format('opentype');
}

@font-face {
    font-family: 'Coolvetica Rg It';
    src: url('/static/fonts/coolvetica/Coolvetica Rg It.otf') format('opentype');
}

@font-face {
    font-family: 'Coolvetica Rg';
    src: url('/static/fonts/coolvetica/Coolvetica Rg.otf') format('opentype');
}

@font-face {
    font-family: 'AGaramondPro-Bold';
    src: url('/static/fonts/garamond/AGaramondPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'AGaramondPro-BoldItalic';
    src: url('/static/fonts/garamond/AGaramondPro-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'AGaramondPro-Italic';
    src: url('/static/fonts/garamond/AGaramondPro-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'AGaramondPro-Regular';
    src: url('/static/fonts/garamond/AGaramondPro-Regular.otf') format('opentype');
}

