$black: #000;
$blue-50: #e0f7fa;
$grey-0: #d3d1d1;
$white-8: #f8f8f8;
$white: #fff;

$border-weight: 0.1rem;
$header-height: 4rem;
$actFacadeHeight: 13.67rem;
$aboutSectionHeight: 30rem;


$font-roboto: 'Roboto', sans-serif;
$font-coolvetica-hv-comp: 'Coolvetica Hv Comp', sans-serif;
$font-coolvetica-rg-cond: 'Coolvetica Rg Cond', sans-serif;
$font-coolvetica-rg-cram: 'Coolvetica Rg Cram', sans-serif;
$font-coolvetica-rg-it: 'Coolvetica Rg It', sans-serif;
$font-coolvetica-rg: 'Coolvetica Rg', sans-serif;
$font-garamond-bold: 'AGaramondPro-Bold', sans-serif;
$font-garamond-bold-italic: 'AGaramondPro-BoldItalic', sans-serif;
$font-garamond-italic: 'AGaramondPro-Italic', sans-serif;
$font-garamond-regular: 'AGaramondPro-Regular', sans-serif;

$font-size: 1.15rem;
$font-size-2: 1.25rem;
$font-size-3: 1.5rem;
$font-size-4: 1.75rem;
$font-size-5: 2rem;
$font-size-6: 2.5rem;
$font-size-7: 3rem;
$font-size-8: 3.5rem;
$font-size-9: 4rem;
$font-size-10: 4.5rem;
$font-size-15: calc($font-size-10 * 1.5);
$font-size-20: calc($font-size-10 * 2);
$font-size-25: calc($font-size-10 * 2.5);
$font-size-30: calc($font-size-10 * 3);
$font-size-35: calc($font-size-10 * 3.5);
$font-size-40: calc($font-size-10 * 4);
$font-size-45: calc($font-size-10 * 4.5);
$font-size-50: calc($font-size-10 * 5);
$font-size-55: calc($font-size-10 * 5.5);
$font-size-60: calc($font-size-10 * 6);
$font-size-65: calc($font-size-10 * 6.5);
$font-size-70: calc($font-size-10 * 7);