@use "@/styles/variables.scss" as variables;

.main {
  background-color: variables.$white-grey;
}

.container {
  position: fixed;
  left: 0;

  height: 100vh;
  width: 100vw;

  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: variables.$pink-100;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: variables.$grey-0;
  }
}

.wrapper {
  position: relative;
  min-height: variables.$actFacadeHeight;
}
