@use '@/styles/variables.scss' as variables;

.headerContainer {
    font-family: variables.$font-coolvetica-rg;
    font-size: variables.$font-size;

    h1 {
        font-family: variables.$font-coolvetica-rg;
        font-size: variables.$font-size;
        color: variables.$black
    }

    a {
        color: variables.$black;
    }


    height: 5rem;

    margin-top: 1rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;

    div {
        .menu {
            display: flex;
            align-items: center;
            gap: 2rem;


            a {
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: bold;

                &:hover {
                    color: red;
                }
            }
        }
    }
}

.navbarContainer {
    height: variables.$header-height;
    width:  calc(100% - 4rem);

    padding: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;


    border-bottom: variables.$border-weight solid variables.$grey-0;

    z-index: 10;

    @media screen and (max-width: 430px) {
        justify-content: center;
    }
}

.titleContainer {
    width: 25%;
}

.menuContainer {
    width: 65%;
    ul {
        display: flex;
        align-items: center;
        gap: 4.3rem;

        list-style: none;


        li {
            a {
                text-decoration: none;

                transition: all .5s;

                &:hover {
                    color: variables.$grey-0;
                }
            }

            &:last-child {
                margin-left: auto;
            }
        }
    }
}