@use '@/styles/variables' as variables;

$text-size: calc(variables.$font-size-10 * 1.6);
$line-height: calc(variables.$font-size-10 * 1.3);
$text-container-width: 56%;
$bio-container-width: calc(100% - $text-container-width);

.aboutContainer {
    position: relative;
    display: flex;

    min-height: variables.$aboutSectionHeight;
}

.about {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    @media screen and (max-width: 975px) {
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
    }

    .textContainer {
        display: block;
        flex-direction: row;
        justify-content: center;

        width: $text-container-width;
        height: 100%;

        @media screen and (max-width: 848px) {
            width: 100%;
        }

        padding: 0 5rem;

        text-align: left;
        color: variables.$blue-100;
        font-size: $text-size;
        font-family: variables.$font-coolvetica-hv-comp;
        line-height: $line-height;

        span {
            height: $line-height;
            display: inline;
            white-space: nowrap;
        }

        .specialFont {
            font-size: calc($text-size - 2rem);
            font-family: variables.$font-garamond-bold-italic;
            text-align: center;
        }

        @media screen and (max-width: 1270px) {
            $text-size : calc($text-size - 1rem);
            $line-height: calc($line-height - 0.5rem);

            font-size: $text-size;
            line-height: $line-height;

            $text-container-width: 50%;
            $bio-container-width: calc(100% - $text-container-width);

            width: $text-container-width;

            .specialFont {
                font-size: calc($text-size - 2rem);
            }

            .bioContainer {
                width: $bio-container-width;
            }
        }

        @media screen and (max-width: 1346px) {
            $text-size : calc($text-size - 1.5rem);
            $line-height: calc($line-height - 0.5rem);

            font-size: $text-size;
            line-height: $line-height;

            $text-container-width: 50%;
            $bio-container-width: calc(100% - $text-container-width);

            width: $text-container-width;

            .specialFont {
                font-size: calc($text-size - 2rem);
            }

            .bioContainer {
                width: $bio-container-width;
            }
        }

        @media screen and (max-width: 1164px) {
            $text-size : calc($text-size - 0.2rem);
            $line-height: calc($line-height - 0.5rem);

            font-size: $text-size - 3rem;
            line-height: $line-height;

            .specialFont {
                font-size: calc($text-size - 3rem);
            }
        }

        @media screen and (max-width: 975px) {
            width: 100%;            
        }
    }

    .bioContainer {
        height: 100%;
        width: $bio-container-width;

        .bio {
            width: 100%;
            min-height: variables.$aboutSectionHeight;
        }

        @media screen and (max-width: 1270px) {
            $text-container-width: 50%;
            $bio-container-width: calc(100% - $text-container-width);

            width: $bio-container-width;
        }

        @media screen and (max-width: 975px) {
            width: 100%;            
        }
    }
}