@use '@/styles/variables' as variables;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-width: 100%;
    height: variables.$felispo-height;

    position: relative;
}

.videoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 10;
}

.cavalinhoContainer {
    height: 5rem;
    width: 100%;

    display: flex;
    justify-content: center;

    position: absolute;
    bottom: 14rem;

    z-index: 0;

    .cavalinho {
        position: relative;
        left: 34rem;

        width: 15rem;
        height: 15rem;
    }
}

.facadesContainer {
    height: 100vh;
    width: 100vw;

    position: absolute;
    margin-top: 2.75rem;

    display: flex;
    justify-content: space-around;

    z-index: 0;

    div {
        width: 25rem;
        height: 100vh;

        border-left: variables.$border-weight solid variables.$grey-0;
        border-right: variables.$border-weight solid variables.$grey-0;
    }

    .firstBox {
        margin: 1px;
    }

    .secondBox {
        margin: 1px;
    }
}